* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-box {
    background-color: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 100%;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 30px;
    text-align: left;
}

.input-group label {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    outline: none;
    background: none;
    color: #333;
}

.input-group input:focus {
    border-color: #a777e3;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background: #a777e3;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: #6e8efb;
}

.signup-text {
    margin-top: 20px;
    color: #666;
}

.signup-text a {
    color: #a777e3;
    text-decoration: none;
}
